<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>Enter Your Message:</div>
    <div><input id="message" type="text"/> </div>
    <div><input id="sendButton" type="button" value="Send"/></div>
  </body>
</html>